.colorful-text-char {
  display: inline-block;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  white-space: pre;
}
