.challenges {
  padding: 0px 150px;
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: 1024px) {
    padding: 0px 50px;
    margin-bottom: 60px;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  @media (max-width: 768px) {
    padding: 0px 20px;
    margin-bottom: 40px;
    gap: 30px;
  }

  h1 {
    font-size: 3rem;
    color: white;
    font-weight: 600;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      font-size: 2.5rem;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  }

  .testp {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--white-200);
  }

  .gray {
    color: var(--white-200);
    font-size: 20px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .text {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      font-size: 22px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}

.upper-challenge {
  margin-bottom: 50px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.from {
  display: flex;
  align-items: center;
  gap: 30px;

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.circle {
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;

  @media (max-width: 768px) {
    min-width: 80px;
    height: 80px;
  }
}

.data {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.data-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
