# Resend API nøkkel
# Hent fra: https://resend.com/api-keys
RESEND_API_KEY=re_UGVgqSLE_PMZ4Eh3uyvnQht1GcLdpyUTD

# Din e-postadresse som skal motta henvendelser fra kontaktskjemaet
EMAIL_TO=din.email@example.com

# E-postadresse som sender fra
# For testing: Bruk MÅ være onboarding@resend.dev hvis du ikke har verifisert eget domene
RESEND_FROM_EMAIL=onboarding@resend.dev

# Sanity konfigurasjon
NEXT_PUBLIC_SANITY_PROJECT_ID=er5um3hh
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-03-21

# Sanity webhook secret for revalidation
# Generer med: openssl rand -base64 32
SANITY_REVALIDATE_SECRET=Vk7HjJG5rufui9kiMkoxSZiHts6H7cmrf8O94zZpWQ8=